body {
  font-family: 'Source Sans Pro';
  background-color: #222;
}

.header {
  position: relative;
  margin: 1rem 4rem;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: auto;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.logo {
  grid-column: 1;
  grid-row: 1 / span 2;
  position: relative;
  width: 7rem;
}

.logo > a {
  background: center / contain no-repeat url('/assets/images/penguicon_logo_white.svg');
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  height: 15.5rem;
  width: 14.5rem;
  z-index: 20;
}

.headline {
  position: relative;
}

.header h2 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.headline > h1, .headline > h1:before {  
  margin: 0;
  color: #fb6;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: italic;
}

.headline > h1 {
  grid-column: 2;
  grid-row: 1;
  z-index: 10;
}

.headline > h1:before {
  position: absolute;
  content: 'PENGUICON';
  -webkit-text-stroke: .7rem #000;
  z-index: -1;
}

.headline > h1:after {
  position: absolute;
  content: 'PENGUICON';
  -webkit-text-stroke: 1.2rem #ddd;
  z-index: -2;
  left: 0;
}

.header > h2 {
  -webkit-text-stroke: .08rem #444;
  color: #eee;
  margin: 0;
  grid-column: 2;
  grid-row: 2;
}

.nav {
  background-color: #222;
  max-width: 14rem;
  flex-basis: 40%;
  margin-top: 6rem;
  z-index: 30;
}

.main-menu {
  margin: 0;
  padding-left: 0;
}

.submenu-label {
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-text-stroke: .08rem #444;
  padding: .5rem;
}

.submenu-label, .submenu-item {
  list-style-type: none;
}

.submenu {
  margin-top: .1rem;
  padding-left: 0;
}

.submenu-item {
  padding: .5rem;
  background-color: #fb6;
  border-bottom: .1rem solid rgb(228, 228, 228);
}
.submenu-item a {
  color: #222;
  text-decoration: none;
}

.submenu-item p {
  margin: 0;
}

.dateline {
  font-style: italic;
  margin: 0;
  padding-right: .5rem;
  background-color: rgb(190, 124, 42);
}

.wrapper {
  display: flex;
  background-color: #b22;
}

.content-wrapper {
  flex-basis: 75%;
}

.pagetitle {
  color: #eee;
  padding: 0 2rem;
}

.content {
  background-color: #eee;
  margin: 1rem 6rem 1rem 1rem;
  padding: 1rem 6rem;
}

td:first-child {
  font-weight: bold;
}

td {
  padding: .5rem 1rem;
}

tr:nth-child(odd){
  background-color: #ccc;
}

.content img {
  float: right;
  width: 16rem;
  margin: 1rem;
  border: .5rem solid #222;
}

.subcontainer {
  margin: auto;
  width: 44rem;
}

/* Carousel */
.aspect-ratio-container {
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.carousel .prev, .carousel .next {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.carousel .next {
  right: 0;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.carousel .prev-arrow, .carousel .next-arrow {
  position: absolute;
  top: 45%;
  z-index: 200;
}
.carousel .prev-arrow {
  left: .5rem;
}
.carousel .next-arrow {
  right: .5rem;
}
.carousel ol {
  display: relative;
  width: 100%;
  height: 100%;
}
.carousel li {
  list-style: none;
  list-style-type: none;
  top: 0;
  left: 0;
}
.carousel li.current {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  transform: scale(1);
  transition: 1s;
}
.carousel li:not(.current) {
  transform: scale(0);
  transition: 1s;
}
.carousel a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
marquee, .carousel {
  border: 1rem solid #eee;
  width: 100%;
  position: relative;
}
marquee img {
  max-width: 100%;
  object-fit: cover;
}
marquee img:hover:after {
  content: attr(data-caption);
  position: absolute;
  bottom: -1.25rem;
}

/* Calendar */
.date, .location {
  font-style: italic;
}
.summary {
  font-weight: bold;
}